.widget-container {
    width: 70%;
    padding: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px #f5f6fa solid;
    margin-top: 40px;
    border-radius: 20px;
}

.widget-child {
    width: 33.3%;
    display: inline-block;
}

.widget-offline {
    background-color: #353b48;
}